<div class="background">
  <div class="main-container">
    <div class="left-panel">
      <a routerLink="/">

        <h1 class="logo">My<span class="nm">CL</span></h1>
      </a>

      <div class="feature">
        <i class="icon">📩</i>
        <div>
          <h3>Revise sus síntomas</h3>
          <p>La herramienta de revisión de síntomas puede ayudarle a tomar decisiones sobre su atención médica.</p>
        </div>
      </div>

      <!-- <div class="feature">
        <i class="icon">💊</i>
        <div>
          <h3>Solicitar el resurtido de recetas</h3>
          <p>Solicite un resurtido de sus medicamentos.</p>
        </div>
      </div> -->
      <br>
      <div class="feature">
        <i class="icon">💬</i>
        <div>
          <h3>Comunicarse con su equipo de atención</h3>
          <p>Obtenga respuestas a sus preguntas médicas desde la comodidad de su hogar.</p>
          <ul>
            <li>Espere 2 días hábiles para recibir su respuesta.</li>
            <li><strong>No envíe</strong> un mensaje a MyNM si es urgente.</li>
            <li><strong>Llame al 911 si tiene una emergencia.</strong></li>
          </ul>
        </div>
      </div>
      <br>

      <div class="feature">
        <i class="icon">🧪</i>
        <div>
          <h3>Acceda a los resultados de sus pruebas</h3>
          <p>Recibirá una notificación en la aplicación MyNM® cuando los resultados estén listos.</p>
        </div>
      </div>

      <br><br>

      <div class="feature">
        <i class="icon">📅</i>
        <div>
          <h3>Gestione sus citas</h3>
          <p>Consulte los detalles de sus citas anteriores y futuras.</p>
        </div>
      </div>

      
    </div>

    <div class="right-panel">
      <form class="login-form">
        <input type="text" placeholder="Nombre de usuario">
        <input type="password" placeholder="Contraseña">
        <button type="submit" routerLink="/">Iniciar sesión</button>
        <div class="links">
          <a href="#">¿Olvidó su usuario?</a>
          <a href="#">¿Olvidó su contraseña?</a>
        </div>
        <div class="alt-options">
          <button>Registrarse</button>
        </div>
        <div class="billing">
          <h4>Pago de Factura de CL</h4>
          <button>Cotizaciones Para Invitados</button>
          <button>Pague Como Invitado</button>
          <button>Vea Sus Estados de Cuenta</button>
        </div>
      </form>
    </div>
  </div>
</div>