    <Header>
        <nav>
            <div class="superior">
                <ul class="lista">
                    <li><a routerLink="/cita">Programa tu cita</a></li>                    
                    <li><a routerLink="">Portal Medico</a></li>
                    <li><a routerLink="/login-paciente">Portal de Pacientes</a></li>        
                </ul>
            </div>        
        </nav>
        <div class="inferior">
            <nav>
                <div class="contenedor-inf">

                    <a routerLink="/">
                        <img src="assets/logo2.png" alt="logo" class="img">
                    </a>

                    <ul class="lista-2">                       
                        <li><a routerLink=" ">Doctores</a></li>
                        <li><a routerLink="">Especialidades</a></li>
                        <li><a routerLink="">Servicios</a></li>
                        <li><a routerLink="">Blog de Salud</a></li>
                    </ul>
                    
                </div>
            </nav>
        </div>
    </Header>
