<Header>
    <nav>
        <div class="superior">
            <ul class="lista">
                <li>
                    Programa tu cita
                </li>
                    
                <li>
                    Portal Medico
                </li>
                <li>
                    Portal de Pacientes
                </li>        
            </ul>
        </div>        
    </nav>
    <div class="inferior">
        <nav>
            <div>
                <ul>
                    <li><a routerLink="/home" routerLinkActive="activo">Inicio</a></li>
                    <li><a routerLink="/lab" routerLinkActive="activo">Quienes somos </a></li>
                     <li><a routerLink="/doctores" routerLinkActive="activo">Doctores</a></li>
                    <li><a routerLink="/servicios" routerLinkActive="activo">Servicios</a></li>
                    <li><a routerLink="/blog" routerLinkActive="activo">Blog Salud</a></li>
                </ul>
            </div>
        </nav>
    </div>
</Header>
