<app-header></app-header>

<div class="inf-sup">

</div>

<div class="info">
    <div>
        <h2>Programe Su Cita Hoy</h2>
        <p>Clinica Limatambo le facilita programar una cita cerca de donde vive o trabaja. Trabajamos continuamente para expandir nuestras opciones de programación para que el proceso sea lo más fluido posible para usted.</p>

        <h3>Nuevos Pacientes</h3>
        <p>Si usted es un nuevo paciente, programe en línea. Puede hacer citas de atención primaria, atención especializada y fisioterapia en línea.</p>

        <h3>Atencion Inmediata</h3>
        <p>Obtenga atención por una enfermedad o lesión menor en su centro de atención mas cercana de Clinica Limatambo</p><br>
        
        <p>Si no puede programar en línea, puede llamar para programar. Visita la seccion de medicos para encontrar un médico y su número de teléfono.</p>

    </div>

</div>


