<footer class="footer-container">
  <div class="">

  </div>  
  <article class="contenido">
    
  </article>

  </footer>

  <!-- <div class="footer-content">
      <div class="footer-section">
        <h3> 📞Contacto</h3>
        <p><strong>Telefono San Isidro: </strong>(01) 617-1111 / 970-055-647</p>
        <p><strong>Telefono San Juan de Lurigancho: </strong>(01) 415-1600 / 988 039 731</p>
        <p><strong>Telefono Minka: </strong>(01) 652-7474 / 970 057 801</p>
        <p><strong>Correo: </strong>contacto-clinicalimatambo.com</p>
      </div>

      <div class="footer-section">
        <h3>🏥 Sobre Nosotros</h3>
        <p>Somos una Clinica comprometida con tu salud, brindando atención médica integral y especializada con profesionales de alto nivel</p>
      </div>

      <div class="footer-section">
        <h3>📍Nuestras Sedes</h3>
        <p><strong>Sede San Isidro: </strong>Av. República de Panamá 3606, San Isidro</p>
        <p><strong>Sede San Juan de Lurigancho: </strong>Av. Próceres de la Independencia 2701</p>
        <p><strong>Sede Minka: </strong>Anexo 1: Av. Argentina 3093 Int. 214, Anexo 2: Av. Argentina 3093 </p>
      </div>
      <div class="footer-bottom">© 2025 Clínica Limatambo. Todos los derechos reservados.</div>
    </div> -->