<!-- component -->
<footer class="footer-1 bg-gray-100 py-8 sm:py-12">
  <div class="container mx-auto px-4">
    <div class="sm:flex sm:flex-wrap sm:-mx-4 md:py-4">
      <div class="px-4 sm:w-1/2 md:w-1/4 xl:w-1/4">
        <h5 class="text-xl font-sans mb-6 text-[#363637]"><Strong>Atencion y registros del paciente</Strong></h5>
        <ul class="list-none footer-links">
          <li class="mb-2">
            <a href="#" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800">Atencion inmediata</a>
          </li>
          <li class="mb-2">
            <a href="#" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800">Portal para pacientes</a>
          </li>
          <li class="mb-2">
            <a href="#" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800">Registros medicos</a>
          </li>
          
        </ul>
      </div>
      <div class="px-4 sm:w-1/2 md:w-1/4 xl:w-1/4 mt-8 sm:mt-0">
        <h5 class="text-xl font-sans mb-6 text-[#363637]"><Strong>Acerca de nosotros</Strong></h5>
        <ul class="list-none footer-links">
          <li class="mb-2">
            <a href="#" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800">
              preguntas sobre facturación 
            </a>
          </li>
          <li class="mb-2">
            <a href="#" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800">Asistencia financiera</a>
          </li>
          <li class="mb-2">
            <a href="#" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800">Informacion del seguro</a>
          </li>
          <li class="mb-2">
            <a href="#" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800">Pagar una factura</a>
          </li>
        </ul>
      </div>
      <div class="px-4 sm:w-1/2 md:w-1/4 xl:w-1/4 mt-8 md:mt-0">
        <h5 class="text-xl font-bold-sans mb-6 color text-[#363637]" ><Strong>Acerca de nosotros</Strong></h5>
        <ul class="list-none footer-links">
          <li class="mb-2">
            <a href="#" class="border-b  border-solid border-transparent hover:border-purple-800 hover:text-purple-800">Servicio cooperativos</a>
          </li>
          <li class="mb-2">
            <a href="#" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800">Impacto comunitario</a>
          </li>
          <li class="mb-2">
            <a href="#" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800">Historia</a>
          </li>
          <li class="mb-2">
            <a href="#" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800">Calidad y seguridad del paciente</a>
          </li>
          
        </ul>
      </div>
      <div class="px-4 sm:w-1/2 md:w-1/4 xl:w-1/4 mt-8 md:mt-0">
        <h5 class="text-xl font-sans mb-6text-[#363637]"><Strong>Contacto</Strong></h5>
        <ul class="list-none footer-links">
          <li class="mb-2">
            <a href="#" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800"><p><strong>San Isidro: </strong>(01) 617-1111 / 970-055-647</p></a>
          </li>
          <li class="mb-2">
            <a href="#" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800"><p><strong>San Juan de Lurigancho: </strong>(01) 415-1600 / 988 039 731</p></a>
          </li>
          <li class="mb-2">
            <a href="#" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800"><p><strong>Minka: </strong>(01) 652-7474 / 970 057 801</p></a>
          </li>
          <li class="mb-2">
            <a href="#" class="border-b border-solid border-transparent hover:border-purple-800 hover:text-purple-800">
              <p>{{correo}}</p>
            </a>
          </li>
          
        </ul>
      </div>
      
    </div>

    <div class="sm:flex sm:flex-wrap sm:-mx-4 mt-6 pt-6 sm:mt-12 sm:pt-12 border-t">
      
      <div class="px-4 sm:w-1/2 md:w-1/4 mt-4 md:mt-0">
        <h6 class="font-bold mb-2">Direccion</h6>
        <address class="not-italic mb-4 text-sm">
          San Isdro<br>
          Av. República de Panamá 3606, San Isidro
        </address>
        <address class="not-italic mb-4 text-sm">
          San Juan de Lurigancho<br>
          Próceres de la Independencia 2701
        </address>
        <address class="not-italic mb-4 text-sm">
          Minka<br>
          Av. Argentina 3093 Int. 214, Anexo 2: Av. Argentina 3093
        </address>
      </div>
      <div class="px-4 sm:w-1/2 md:w-1/4 mt-4 md:mt-0">
        <h6 class="font-bold mb-2">Sobre nosotros</h6>
        <p class="mb-4 text-sm">Somos una Clinica comprometida con tu salud, brindando atención médica integral y especializada con profesionales de alto nivel</p>
      </div>
      
    </div>
  </div>
</footer>
